@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn-enviar {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn-enviar:hover,.btn-enviar:active,.btn-enviar:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1791' height='3000' preserveAspectRatio='none' viewBox='0 0 1791 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1323%26quot%3b)' fill='none'%3e%3cpath d='M397.117%2c2353.568C461.304%2c2349.766%2c496.747%2c2285.209%2c526.011%2c2227.954C551.861%2c2177.379%2c567.178%2c2120.787%2c542.162%2c2069.795C514.025%2c2012.44%2c460.975%2c1967.08%2c397.117%2c1965.216C330.394%2c1963.268%2c269.51%2c2002.788%2c236.626%2c2060.877C204.224%2c2118.116%2c207.126%2c2187.297%2c238.75%2c2244.97C271.734%2c2305.124%2c328.633%2c2357.625%2c397.117%2c2353.568' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1501.27%2c1591.741C1622.759%2c1584.2%2c1707.144%2c1484.663%2c1767.248%2c1378.814C1826.374%2c1274.688%2c1867.073%2c1152.236%2c1810.873%2c1046.502C1751.801%2c935.363%2c1627.125%2c876.962%2c1501.27%2c878.401C1377.935%2c879.811%2c1268.244%2c948.343%2c1203.693%2c1053.446C1135.669%2c1164.205%2c1108.325%2c1302.057%2c1171.21%2c1415.812C1235.858%2c1532.756%2c1367.903%2c1600.02%2c1501.27%2c1591.741' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1342.235%2c1517.953C1440.107%2c1522.231%2c1530.209%2c1464.484%2c1578.913%2c1379.484C1627.34%2c1294.966%2c1631.872%2c1187.856%2c1577.798%2c1106.835C1528.331%2c1032.717%2c1431.288%2c1021.705%2c1342.235%2c1024.862C1260.085%2c1027.774%2c1176.548%2c1052.282%2c1133.927%2c1122.572C1089.89%2c1195.197%2c1099.281%2c1285.108%2c1138.87%2c1360.25C1181.725%2c1441.592%2c1250.382%2c1513.938%2c1342.235%2c1517.953' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1471.412%2c1914.195C1528.932%2c1915.432%2c1594.832%2c1910.231%2c1623.098%2c1860.12C1651.09%2c1810.494%2c1620.006%2c1752.508%2c1589.899%2c1704.136C1562.067%2c1659.42%2c1524.08%2c1616.899%2c1471.412%2c1616.415C1418.094%2c1615.925%2c1376.29%2c1656.062%2c1349.093%2c1701.924C1321.207%2c1748.948%2c1303.325%2c1806.461%2c1330.621%2c1853.83C1357.945%2c1901.249%2c1416.697%2c1913.018%2c1471.412%2c1914.195' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M577.875%2c1918.482C673.518%2c1914.858%2c745.099%2c1841.289%2c792.492%2c1758.134C839.315%2c1675.979%2c869.562%2c1574.937%2c819.334%2c1494.819C771.122%2c1417.915%2c668.567%2c1412.117%2c577.875%2c1415.798C495.335%2c1419.148%2c414.607%2c1444.835%2c368.137%2c1513.133C314.931%2c1591.331%2c289.64%2c1691.539%2c333.105%2c1775.542C379.642%2c1865.482%2c476.681%2c1922.317%2c577.875%2c1918.482' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M864.5%2c3253.718C1039.455%2c3255.574%2c1241.698%2c3272.095%2c1337.138%2c3125.453C1437.934%2c2970.582%2c1384.414%2c2765.4%2c1282.735%2c2611.107C1191.353%2c2472.44%2c1030.558%2c2406.277%2c864.5%2c2408.247C702.237%2c2410.172%2c550.973%2c2484.403%2c463.106%2c2620.83C366.82%2c2770.328%2c313.681%2c2965.436%2c408.921%2c3115.603C500.013%2c3259.23%2c694.432%2c3251.913%2c864.5%2c3253.718' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M424.102%2c1978.142C583.819%2c1990.413%2c753.691%2c1943.349%2c838.788%2c1807.634C928.403%2c1664.714%2c917.261%2c1478.114%2c826.989%2c1335.608C742.421%2c1202.107%2c582.057%2c1148.069%2c424.102%2c1153.001C275.427%2c1157.643%2c132.237%2c1228.06%2c62.557%2c1359.477C-3.452%2c1483.97%2c35.721%2c1629.74%2c106.818%2c1751.399C177.115%2c1871.689%2c285.186%2c1967.469%2c424.102%2c1978.142' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M825.004%2c1070.505C1010.318%2c1060.593%2c1109.842%2c873.262%2c1199.989%2c711.049C1286.414%2c555.533%2c1371.912%2c383.5%2c1296.291%2c222.454C1210.633%2c40.032%2c1026.536%2c-87.659%2c825.004%2c-87.535C623.657%2c-87.411%2c449.811%2c45.555%2c354.72%2c223.033C264.864%2c390.742%2c281.123%2c588.896%2c373.443%2c755.261C468.911%2c927.298%2c628.534%2c1081.014%2c825.004%2c1070.505' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1814.866%2c2442.692C1951.368%2c2445.71%2c2104.6%2c2428.631%2c2173.547%2c2310.783C2242.93%2c2192.191%2c2183.575%2c2049.475%2c2114.359%2c1930.786C2045.837%2c1813.287%2c1950.817%2c1700.019%2c1814.866%2c1695.727C1672.972%2c1691.247%2c1549.51%2c1786.595%2c1480.722%2c1910.781C1414.121%2c2031.02%2c1409.526%2c2179.116%2c1482.642%2c2295.508C1551.698%2c2405.436%2c1685.079%2c2439.823%2c1814.866%2c2442.692' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1492.26%2c2624.662C1555.398%2c2625.96%2c1595.613%2c2564.411%2c1625.948%2c2509.023C1654.717%2c2456.494%2c1673.357%2c2396.303%2c1646.696%2c2342.674C1617.211%2c2283.364%2c1558.446%2c2237.556%2c1492.26%2c2240.105C1429.212%2c2242.534%2c1384.086%2c2296.775%2c1357.142%2c2353.827C1334.216%2c2402.37%2c1343.796%2c2455.678%2c1367.762%2c2503.716C1395.445%2c2559.205%2c1430.262%2c2623.388%2c1492.26%2c2624.662' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M322.339%2c2834.837C404.561%2c2835.599%2c492.43%2c2806.916%2c528.825%2c2733.183C562.692%2c2664.571%2c515.707%2c2590.608%2c474.817%2c2525.935C437.849%2c2467.466%2c391.468%2c2409.134%2c322.339%2c2406.601C249.595%2c2403.935%2c187.524%2c2452.118%2c149.192%2c2514.001C108.354%2c2579.93%2c85.549%2c2661.165%2c122.381%2c2729.414C160.736%2c2800.484%2c241.583%2c2834.088%2c322.339%2c2834.837' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1389.241%2c1151.548C1459.958%2c1149.225%2c1518.11%2c1100.52%2c1551.66%2c1038.225C1583.377%2c979.333%2c1584.288%2c909.079%2c1551.107%2c850.999C1517.658%2c792.449%2c1456.57%2c757.629%2c1389.241%2c753.926C1314.087%2c749.793%2c1232.758%2c767.23%2c1193.295%2c831.323C1152.337%2c897.844%2c1166.455%2c982.904%2c1207.228%2c1049.538C1246.136%2c1113.123%2c1314.737%2c1153.995%2c1389.241%2c1151.548' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1619.242%2c1355.549C1713.662%2c1360.069%2c1799.133%2c1301.376%2c1846.062%2c1219.32C1892.651%2c1137.858%2c1898.294%2c1035.48%2c1847.374%2c956.653C1799.941%2c883.223%2c1706.63%2c870.476%2c1619.242%2c868.185C1525.983%2c865.74%2c1416.218%2c863.427%2c1369.401%2c944.12C1322.499%2c1024.96%2c1378.646%2c1119.381%2c1427.156%2c1199.266C1473.076%2c1274.885%2c1530.873%2c1351.319%2c1619.242%2c1355.549' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1016.059%2c2029.352C1206.367%2c2034.436%2c1419.531%2c2002.196%2c1512.675%2c1836.162C1604.604%2c1672.296%2c1508.076%2c1482.331%2c1414.264%2c1319.536C1320.262%2c1156.412%2c1204.286%2c970.31%2c1016.059%2c974.371C831.361%2c978.355%2c734.472%2c1173.626%2c646.539%2c1336.098C564.585%2c1487.522%2c482.376%2c1658.861%2c563.365%2c1810.803C647.841%2c1969.288%2c836.53%2c2024.556%2c1016.059%2c2029.352' fill='rgba(40%2c 70%2c 168%2c 0.55)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1323'%3e%3crect width='1791' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* Iniciar sesion con google */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    width: 100%;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;}
  
  .login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  .login-with-google-btn:active {
    background-color: #eeeeee;
  }
  
  .login-with-google-btn:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  .login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }

